<section class="main-container">
	<div class="w-full flex items-start flex-col gap-5">
		<div class="flex items-start flex-col w-fit">
			<h2 class="text-xl text-left font-medium uppercase">Современное оборудование - залог комфортного лечения</h2>
			<span class="block bg-orange w-[50px] h-[3px]"></span>
		</div>
		<p class="text-left text-sm">Для того чтобы высокопрофессиональные врачи в полной мере смогли применить свои опыт и знания на благо Вашего здоровья, в Медицинском Центре «Астра-мед» созданы все необходимые технические условия.<br><br>У нас есть методики и технологии, которые позволяют проводить даже сложное лечение и добиваться успешных результатов.</p>
		{% partial "actions/form-zapis" %}
	</div>
	<div class="flex flex-col gap-4 w-full h-full rounded-lg">
		<img class="rounded-lg" src="{{'assets/images/equipment/sovremennoe-oborydovanie-2.jpg'|theme}}" alt="">
		<div class="grid grid-cols-3 gap-4">
			<img class="rounded-lg" src="{{'assets/images/equipment/sovremennoe-oborydovanie-1.jpg'|theme}}" alt="">
			<img class="rounded-lg" src="{{'assets/images/equipment/sovremennoe-oborydovanie-3.jpg'|theme}}" alt="">
			<img class="rounded-lg" src="{{'assets/images/equipment/sovremennoe-oborydovanie-4.jpg'|theme}}" alt="">
		</div>
	</div>
</section>