<section class="main-container flex-col">
	<div class="flex items-start flex-col gap-12">
		<div class="flex items-start flex-col w-fit">
			<h2 class="text-xl text-left font-medium uppercase">Подробнее о медицинском центре “Астра - Мед”</h2>
			<span class="block bg-orange w-[50px] h-[3px]"></span>
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
		<div class="element-slider flex justify-center gap-5 h-full px-2">
			<a href="{{ 'AKCYI/akcii'|page }}" class="flex justify-start gap-2 border-gray-light rounded-xl w-full shadow-md hover:shadow-orange overflow-hidden flex-col">
				<img src="{{ 'assets/images/about/akcia.jpg'|theme }}" class="w-full">
				<div class="flex flex-col gap-2 px-4 pb-4">
					<p class="text-sm xl:text-base text-left font-bold text-orange uppercase">Акции и бонусы</p>
					<div class="overflow-hidden">
						<p class="text-sm">Специальные предложения для решения стоматологических проблем, выгодные условия лечения</p>
					</div>
				</div>
			</a>
	 	</div>
		<div class="element-slider flex justify-center gap-5 h-full px-2">
			<a href="{{ 'VRACHI/vrachi'|page }}" class="flex justify-start gap-2 border-gray-light rounded-xl w-full shadow-md hover:shadow-orange overflow-hidden flex-col">
				<img src="{{ 'assets/images/about/moment-2.jpg'|theme }}" class="w-full">
				<div class="flex flex-col gap-2 px-4 pb-4">
					<p class="text-sm xl:text-base text-left font-bold text-orange uppercase">Лучшие специалисты</p>
					<div class="overflow-hidden">
						<p class="text-sm">Медицинский центр Астрамед — лауреат Национального конкурса «Лучшие стоматологии РФ»</p>
					</div>
				</div>
			</a>
	 	</div>
		<div class="element-slider flex justify-center gap-5 h-full px-2">
			<a href="{{ 'CONTACTS/vakansii'|page }}" class="flex justify-start gap-2 border-gray-light rounded-xl w-full shadow-md hover:shadow-orange overflow-hidden flex-col">
				<img src="{{ 'assets/images/about/moment-4.jpg'|theme }}" class="w-full">
				<div class="flex flex-col gap-2 px-4 pb-4">
					<p class="text-sm xl:text-base text-left font-bold text-orange uppercase">Вакансии</p>
					<div class="overflow-hidden">
						<p class="text-sm">Мы поощряем инициативу и классные идеи, которые помогают вместе делать наши услуги лучше</p>
					</div>
				</div>
			</a>
	 	</div>
	</div>
</section>