<section class="main-container">
	<img loading="lazy" src="{{'assets/images/dental-treatment.jpg'|theme}}" alt="Работа врачей" class="rounded-xl w-full md:w-1/2 ">
	<div class="flex gap-4 flex-col w-full md:w-1/2">
		<div>
			<h2 class="text-blue-dark-s font-medium text-xl uppercase">Способы оплаты лечение зубов “под ключ”</h2>
			<span class="block bg-orange w-[50px] h-[3px]"></span>
		</div>
		<p class="text-sm">Медицинский Центр «Астра-мед-72» работает с 2009 года, за это время здоровье своих зубов доверили нам более 75 000 человек.</p>
		<p class="text-sm">В нашей клинике возможен как безналичный расчёт так и оплата наличными.</p>
		<p class="text-sm">Вы сделали верный шаг на пути к здоровью обратившись к нам в Стоматологическую клинику Астра-мед-72!</p>
		<button type="button" onclick="window.contactModal.show()" class="orange-button-form text-base text-white">Рассчитать стоимость лечения</button>
	</div>
</section>