<section class="main-container flex-col">
	<div class="flex items-center flex-col gap-12">
		<div class="flex items-start flex-col w-fit">
			<h2 class="text-xl text-left font-medium uppercase">Высокие стандарты качества</h2>
			<span class="block bg-orange w-[50px] h-[3px]"></span>
		</div>
	</div>
	<div class="flex justify-center">
		<p class="text-center w-2/3">Вы получите максимальное внимание к своему здоровью и полную информацию о возможностях лечения и профилактики.</p>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 auto-cols-max auto-rows-auto gap-4">
		<article class="standart-container">
			<div class="standart-container w-full h-full md:h-48">
				<div class="flex wrap-standart">
					<button class="toggle-button flex flex-col justify-center items-center text-xs md:text-sm font-medium text-cen uppercase">
					    <img class="h-20 pb-4" src="{{'assets/images/standarts/laboratory.svg'|theme}}"alt="" > 
						<h3>Лечение передовыми технологиями</h3>
						<p class="font-bold">v</p>
					</button>
				</div>
				<div class="hidden wrap-standart h-28">
					<p>Помимо классических способов, применяем последние разработки. Лечим под микроскопом, применяем инновационную методику PlasmoliftingTM.</p>
				</div>
			</div>
		</article>
		<article class="standart-container">
			<div class="standart-container w-full h-full md:h-48">
				<div class="flex wrap-standart">
					<button class="toggle-button flex flex-col justify-center items-center text-xs md:text-sm font-medium text-cen uppercase">
						<img class="h-20 pb-4" src="{{'assets/images/standarts/stamp.svg'|theme}}" alt="">
						<h3>Ответственность</h3>
						<p class="font-bold">v</p>
					</button>
				</div>
				<div class="hidden wrap-standart h-28">
					<p>Даем расширенную гарантию на все виды лечения.</p>
				</div>
			</div>
		</article>
		<article class="standart-container">
			<div class="standart-container w-full h-full md:h-48">
				<div class="flex wrap-standart">
					<button class="toggle-button flex flex-col justify-center items-center text-xs md:text-sm font-medium text-cen uppercase">
						<img class="h-20 pb-4" src="{{'assets/images/standarts/secure-shield.svg'|theme}}" alt="">
						<h3>Безопасность</h3>
						<p class="font-bold">v</p>
					</button>
				</div>
				<div class="hidden wrap-standart h-28">
					<p>Используем лучшие технологии для стерилизации. Все инструменты проходят многоступенчатую обработку.</p>
				</div>
			</div>
		</article>
		<article class="standart-container">
			<div class="standart-container w-full h-full md:h-48">
				<div class="flex wrap-standart">
					<button class="toggle-button flex flex-col justify-center items-center text-xs md:text-sm font-medium text-cen uppercase">
						<img class="h-20 pb-4" src="{{'assets/images/standarts/calendar.svg'|theme}}" alt="">
						<h3>Прием без очередей и в удобное время</h3>
						<p class="font-bold">v</p>
					</button>
				</div>
				<div class="hidden wrap-standart h-28">
					<p>Подберем удобное для вас время посещения доктора, и вам не придется.</p>
				</div>
			</div>
		</article>
	</div>
</section>