<section class="main-container flex-col">
	<div class="flex items-start flex-col gap-12">
		<div class="flex items-start flex-col w-fit">
			<h2 class="text-xl text-left font-medium uppercase">Медицинский центр “Астра-мед” - это:</h2>
			<span class="block bg-orange w-[50px] h-[3px]"></span>
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 auto-cols-auto auto-rows-auto gap-4">
		<article class="standart-container">
			<div class="standart-container h-full">
				<div class="flex wrap-standart gap-3">
					<img class="h-20" src="{{ 'assets/images/standarts/brain.svg'|theme }}">
					<div class="flex flex-col justify-center items-center text-sm md:text-sm font-medium text-cen uppercase">
						<h3>Лечение передовыми технологиями</h3>
					</div>
					<div class="wrap-standart">
						<p>Помимо классических способов, применяем последние разработки. Лечим под микроскопом, применяем инновационную методику PlasmoliftingTM.</p>
					</div>
				</div>
			</div>
		</article>
		<article class="standart-container">
			<div class="standart-container w-full h-full">
				<div class="flex wrap-standart gap-3">
					<img class="h-20" src="{{ 'assets/images/standarts/diamond.svg'|theme }}">
					<div class="flex flex-col justify-center items-center text-sm font-medium text-cen uppercase">
						<h3>Высокое качество услуг</h3>
					</div>
					<div class="wrap-standart">
						<p>Придерживаемся мировых стандартов стоматологического лечения. Особое внимание уделяем безопасности: все инструменты проходят многоступенчатую обработку.</p>
					</div>
				</div>
			</div>
		</article>
		<article class="standart-container">
			<div class="standart-container w-full h-full">
				<div class="flex wrap-standart gap-3">
					<img class="h-20" src="{{ 'assets/images/standarts/health.svg'|theme }}">
					<div class="flex flex-col justify-center items-center text-sm font-medium text-cen uppercase">
						<h3>Помощь даже в сложной ситуации</h3>
					</div>
					<div class="wrap-standart">
						<p>Помогаем сохранить и восстановить здоровье улыбки в безнадежных случаях. Проводим эффективное лечение, даже если Вам отказали в других клиниках.</p>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>