[CategoriesComponent]
items = 6

[ServiceSettings]
==
{% set service_categories = CategoriesComponent.categories %}
{% set service_settings   = ServiceSettings.settings %}

<div class="grid grid-cols-2 md:grid-cols-4 auto-cols-auto w-full auto-rows-fr gap-4">
    {% for category in service_categories %}
        {% for service in category.services %}
        {% if service.switch_service == 1 %}
            <article class="service-container">
                <a class="w-full h-full p-2.5 flex flex-col justify-center items-center gap-3" href="{{ ('uslugi/' ~ category.slug ~ '/' ~ service.slug) | app }}">
                    <img
                        class="h-14"
                        src="{{ service.image | media}}"
                        loading="lazy"
                        alt="{{ service.name }}" />
                    <h3 class="text-base md:text-lg font-medium text-center">{{ service.name }}</h3>
                </a>
            </article>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>